@import url("_default.css");
@import url("_utility.css");

.content {
  padding: 16px 10rem;
  background-color: var(--white);
  height: calc(100vh - 100px);
  overflow: hidden;
}

.panel-wrapper {
  background-color: var(--white);
  margin: 2rem 0;
  padding: 1rem 2rem;
  /* padding-right: 0; */
  border-radius: 16px;
  height: calc(100vh - 230px);
  box-shadow: 0 0 16px 3px #0000001a;
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 80px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.app-grid::-webkit-scrollbar {
  display: none;
}

.app-card {
  height: 225px;
  width: 208px;
  border: 1.5px solid var(--light);
  border-radius: 10px;
  margin: 8px;
  overflow: hidden;
  cursor: pointer;
  /* transition-duration: 300ms; */
}

.app-thumb {
  background-color: var(--light);
  height: 170px;
  width: 100%;
  display: flex;
  border: 1.5px solid var(--light);
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  /* transition-duration: 300ms; */
}

.app-thumb img {
  width: 45px;
  height: auto;
  opacity: 0.75;
  visibility: hidden;
}

.app-info {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 2rem;
}

.app-info b {
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
}

.app-card:hover {
  border: 1.5px solid var(--secondary);
}

.app-card:hover .app-thumb {
  border-bottom: 1.5px solid var(--secondary);
}

.app-card:hover .app-thumb img {
  visibility: visible;
}